@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

:root {
  --cyan: hsl(179, 62%, 43%);
  --bright-yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);

  --fs-reg: 16px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Karla";
  background-color: var(--light-gray);
}

.component {
  margin: 30px auto;
  width: 635px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 19px 38px #cadaea, 0 15px 12px #cadaead7;
}
@media (max-width: 768px) {
  .component {
    width: 312px;
  }
}

.component .first {
  padding: 44px 42px;
  background-color: white;
}
@media (max-width: 767px) {
  .component .first {
    padding: 34px 24px;
  }
}

.component .first h1 {
  margin: 0 0 30px 0;
  color: var(--cyan);
}
@media (max-width: 767px) {
  .component .first h1 {
    font-size: 22px;
  }
}

.component .first h3 {
  margin: 0 0 17px 0;
  color: var(--bright-yellow);
}
@media (max-width: 767px) {
  .component .first h3 {
    font-size: 17px;
  }
}

.component .first p {
  margin: 0;
  line-height: 28px;
  font-size: var(--fs-reg);
  color: var(--grayish-blue);
}

.component .second {
  display: grid;
  grid-template-columns: repeat(2, calc(635px / 2));
}
@media (max-width: 768px) {
  .component .second {
    grid-template-columns: 312px;
  }
}

.component .second .left {
  padding: 44px 42px;
  background-color: var(--cyan);
}
@media (max-width: 767px) {
  .component .second .left {
    padding: 30px;
  }
}

.component .second .left h3 {
  color: white;
  margin: 0 0 23px 0;
}

.component .second .left .mid {
  display: flex;
  align-items: center;
}

.component .second .left .mid span:first-of-type {
  font-size: 35px;
  color: white;
  font-weight: 700;
  margin-right: 18px;
}
.component .second .left .mid span:last-of-type {
  font-size: var(--fs-reg);
  color: #10d6d4;
}
.component .second .left p {
  font-size: var(--fs-reg);
  color: var(--light-gray);
  margin: 17px 0 35px 0;
}

.component .second .left button {
  padding: 15px 85px;
  font-size: var(--fs-reg);
  font-family: "Karla";
  border: none;
  background-color: var(--bright-yellow);
  color: white;
  border-radius: 5px;
  font-weight: 700;
  box-shadow: 0 19px 38px #27a29f, 0 15px 12px #27a2a0d7;
  cursor: pointer;
}

.component .second .right {
  padding: 44px 42px;
  background-color: #4abebd;
}

@media (max-width: 767px) {
  .component .second .right {
    padding: 30px;
  }
}

.component .second .right h3 {
  color: white;
  margin: 0 0 29px 0;
}
.component .second .right p {
  color: var(--light-gray);
  font-size: var(--fs-reg);
  margin: 0 0 6px 0;
}

footer {
  width: 100%;
  text-align: center;
}

footer a {
  color: var(--cyan);
  font-weight: 700;
  font-size: 18px;
}
